.app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.app-header {
  margin: auto;
  width: 100%;
  height: 20%;
  background-color: #E81B00;
  color: white;
  padding: 30px 60px 30px 90px;
  font-size: 24pt;
  font-weight: bold;
}

.component-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.component-container {
  display: flex;
  flex: 1;
  order: 1;
  flex-direction: column;
  padding: 30px 90px 30px 90px;
  min-width: 420px;
}

.subtle-highlight {
  background-color: #EFEFEF;
}

.spacer {
  width: 200px;
  background-color: #efefef;
}

.new-transac-box {
  width: 365px;
}

.total-box {
  width: 365px;
  display: flex;
  flex-direction: column;
}

.title-box {
  font-weight: bold;
  font-size: 24pt;
  color: #E81B00;
  padding: 0 0 30px 0;
  min-width: 365px;
}

.total-amount {
  font-weight: bold;
  font-size: 24pt;
  text-align: right;
}

.new-transac-form-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12pt;
  margin: 10px 0 5px 0;
}

.label-title {
  font-weight: bold;
}

.input-box {
  flex-grow: 1;
  background-color: #EFEFEF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #AAAAAA;
  font-size: 16px;
  margin-left: 10px;
}

.submit-line {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.submit-btn {
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 12px 12px 12px 12px;
  background-color: #E81B00;
  color: #fff;
}

.submit-btn:hover {
  background-color: #A81400;
}

.transac-table,
.budget-table {
  min-width: 365px;
}

.budget-table-header {
  font-size: 11pt;
  background-color: rgba(232,177,171,0.3);
}

.budget-table-body {
  font-size: 10pt;
}

.swimo-table-header,
.swimo-table-body{
  font-size: 10pt;
  text-align: left;
  padding: 8px;
  border: none;
}

.swimo-table-header,
.budget-total-line {
  background-color: rgba(232,177,171, 0.3);
}

.swimo-table-body {
  border-collapse: collapse !important;
}

.swimo-table-body > tbody > tr:nth-of-type(even) {
  background-color: rgba(232,177,171, 0.3);
}

.total-warning {
  color: #F56B0C;
}

.amount-danger {
  background-color: #E81B00;
  color: #FFF;
}

.amount-warning {
  background-color: rgba(245,107,12, .3);
}

.grey {
  color: #AAA;
}

.budget-total-line {
  border-top: solid 3px rgb(215, 215, 215);
  font-weight: bold;
}

@media screen and (max-width: 999px) {
  .title-box,
  .total-amount,
  .app-header {
    font-size: 20pt;
  }

  .app-header {
    padding: 20px 30px 20px 30px;
  }

  .new-transac-box,
  .total-box {
    width: 300px;
  }

  .component-container {
    min-width: 350px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .budget-table-body,
  .swimo-table-body,
  .budget-table-header,
  .swimo-table-header {
    font-size: 10pt;
  }
}

@media screen and (max-width: 699px) {
  .title-box,
  .total-amount,
  .app-header {
    font-size: 16pt;
  }

  .app-header {
    padding: 15px 20px 15px 20px;
  }

  .new-transac-box,
  .total-box {
    width: 300px;
  }

  .component-container {
    min-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .priority-box {
    order: 0;
  }

  .budget-table-body,
  .swimo-table-body,
  .budget-table-header,
  .swimo-table-header {
    font-size: 9pt;
  }
}
