.app {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.app-header {
  margin: auto;
  width: 100%;
  height: 20%;
  background-color: #E81B00;
  color: white;
  padding: 30px 60px 30px 90px;
  font-size: 24pt;
  font-weight: bold;
}

.component-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.component-container {
  display: flex;
  flex-direction: column;
  padding: 30px 60px 30px 90px;
}

.subtle-highlight {
  background-color: #EFEFEF;
}

.spacer {
  width: 200px;
  background-color: #efefef;
}

.new-transac-box {
  width: 365px;
  height: 300px;
}

.total-box {
  display: flex;
  flex-direction: column;
  width: 575px;
  padding-right: 145px;
}

.title-box {
  font-weight: bold;
  font-size: 24pt;
  color: #E81B00;
  padding: 0 0 30px 0;
}

.total-amount {
  font-weight: bold;
  font-size: 24pt;
  text-align: right;
  margin-top: -30px;
}

.new-transac-form-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 12pt;
  margin: 10px 0 5px 0;
}

.label-title {
  font-weight: bold;
}

.input-box {
  flex-grow: 1;
  background-color: #EFEFEF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #AAAAAA;
  font-size: 16px;
  margin-left: 10px;
}

.submit-line {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.submit-btn {
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 12px 12px 12px 12px;
  background-color: #E81B00;
  color: #fff;
}

.submit-btn:hover {
  background-color: #A81400;
}

.narrow-table {
  max-width: 720px;
}

.budget-table {
  max-width: 580px;
}

.budget-table-header {
  font-size: 11pt;
  background-color: rgba(232,177,171,0.3);
}

.budget-table-body {
  font-size: 11pt;
}

.swimo-table-header,
.swimo-table-body{
  font-size: 11pt;
  text-align: left;
  padding: 8px;
  border: none;
}

.swimo-table-header {
  background-color: rgba(232,177,171, 0.3);
}

.swimo-table-body {
  border-collapse: collapse !important;
}

.swimo-table-body > tbody > tr:nth-of-type(even) {
  background-color: rgba(232,177,171, 0.3);
}

.warning {
  color: #F56B0C;
}

.danger {
  background-color: #E81B00;
  color: #FFF;
}
